<!doctype html>
<html>
  <head>
    <title><%= title %></title>
    <script src="/bower_components/underscore/underscore.js"></script>
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/dist/federated-dashboard-notification-widget.js"></script>
  </head>

  <body>
    <div data-id="widget-display-1"></div>
    <div data-id="widget-display-2"></div>
    <script>
      $(function(){
          Notification.Controller.setupWidgetIn({container: '[data-id=widget-display-1]', maxNotifications: 5, animationSpeed: 400})
      })
    </script>
  </body>
</html>
